body {
    padding-top: 150px;
    background-color: whitesmoke;
}

p a:hover {
    background-color: whitesmoke !important;
    color: deeppink !important;
    text-decoration: none !important;
}

.nav-pills>li > a:active, .nav-pills>li>a:hover{
    background-color: #9c27b0 !important;
    color: #FFFFFF !important;
    box-shadow: 0 16px 26px -10px rgba(156, 39, 176, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(156, 39, 176, 0.2);

}

@media screen and (max-width: 768px) {
    body {
        padding-top: 80px;
    }

    li .category-list {
        width: 100vw;
        background-color: white;
        color:whitesmoke;
        margin-top: 0px !important;

    }

    .category-list-row {
        padding-top: 0px;
        margin-top: 0px;
        padding-bottom: 20px;
        height: 20px;
        color: black;
    }
    .category-list-row:hover {
        background-color: purple;
        color: white;
    }


    .dropdown-menu.product-list-1,
    .dropdown-menu.product-list-2,
    .dropdown-menu.product-list-3,
    .dropdown-menu.product-list-4,
    .dropdown-menu.product-list-5,
    .dropdown-menu.product-list-6,
    .dropdown-menu.product-list-7
    {
        right: auto;
        text-align: center;
        transform: translate(0%, 0);
    }

    .account {
        color: white !important;
    }

    .my-product-card {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important
    }
}

@media screen and (min-width: 769px) {
    .account {
        color: purple !important;
    }


    .dropdown-menu.product-list-1{
        right: auto;
        text-align: center;
        transform: translate(-3%, 0);
    }

    .dropdown-menu.product-list-2{
        right: auto;
        text-align: center;
        transform: translate(-18%, 0);
    }

    .dropdown-menu.product-list-3{
        right: auto;
        text-align: center;
        transform: translate(-30%, 0);
    }
    .dropdown-menu.product-list-4{
        right: auto;
        text-align: center;
        transform: translate(-45%, 0);
    }
    .dropdown-menu.product-list-5{
        right: auto;
        text-align: center;
        transform: translate(-62%, 0);
    }
    .dropdown-menu.product-list-6{
        right: auto;
        text-align: center;
        transform: translate(-75%, 0);
    }
    .dropdown-menu.product-list-7{
        right: auto;
        text-align: center;
        transform: translate(-90%, 0);
    }

}

.caret-up {
    width: 0;
    height: 0;
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;

    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}

.img-hover img {
    -webkit-transition: all .3s ease; /* Safari and Chrome */
    -moz-transition: all .3s ease; /* Firefox */
    -o-transition: all .3s ease; /* IE 9 */
    -ms-transition: all .3s ease; /* Opera */
    transition: all .3s ease;
}

.img-hover img:hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.10); /* Safari and Chrome */
    -moz-transform: scale(1.10); /* Firefox */
    -ms-transform: scale(1.10); /* IE 9 */
    /*-o-transform:translatZ(0) scale(1.10); !* Opera *!*/
    /*transform:translatZ(0) scale(1.10);*/
}

#search {
    display: block;
    text-align: center;
}

.material-red-color {
    color: #ff4444;
}

.navbar-brand {
}

.remove-all-margin {
    margin-left: 0 ! important;
    margin-right: 0 ! important;
}

.remove-all-margin-padding {
    margin: 0 ! important;
    padding: 0 ! important;
}

.set-product-padding-margin {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-right: 0px !important;
    padding-left: 5px !important;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar .navbar-center {
    display: inline-block;
    float: none;
}

.remove-all-padding {
    padding: 0px !important;
}

.remove-bottom-margin {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.navbar .navbar-collapse-center {
    text-align: center;
}

.clickable{
    cursor: pointer;
}

.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}

.fixed {
    position: fixed;
    width: 25%;
}
.scrollit {
    float: left;
    width: 71%
}